.option {
    background-color: #3c0870;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}